*.flock
*.psf
*.qws
greybox_tmp/
incremental_db/
db/
tb/
audio/output_files/
output_files/*
!output_files/*.sof
!output_files/*.cdf
*.bak
*.out
*.qdf
*.py
*.mp3
*.wav
*.ver
modelsim/*
!modelsim/*.v
!modelsim/*.do
!modelsim/*.tcl

sim/